body{
    background-image: url(/images/back1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul li{
    display: inline-block;
    font-size: 20px;
 margin-right: 50px;
 text-transform:uppercase ;
}nav ul li a{
    text-decoration: none;
    color: #fff;
}
#image{
    float: left;;
}
.var {
    text-align: center;
}
.dav ul li {
    text-align: center;
    list-style: none;
}
#id {
    text-align: center;
}
footer {
    background-color: brown;
    margin-top: 264px;
    width: 100%;
}